*{
    box-sizing: border-box;
    margin: 0;
    transition: 0.7s;
}

.circle_big{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid RGB(17, 153, 221);
    background-color: white;
}

.circle_small{
    background-color: white;
    width: 50px;
    height: 50px;
    left: 10px;
    position: absolute;
    left: 25px;
    top: 25px;
    border-radius: 50%;
}

.stick{
    width: 25px;
    height: 60px;
    background-color: RGB(17, 153, 221);
    border-radius: 5px;
    position: absolute;
    left: 40px;
    top: 96px;
}

.lupa{
    margin: 20px 20px !important;
    width: 100px;
    height: 100px;
    transform: rotate(-35deg);
}

.lupa:hover .circle_big{
    border-radius: 50px 50px 50px 0px;
    border-width: 50px;
    transform: rotate(-10deg);
}

.lupa:hover .stick{
    left: -120px;
    opacity: 0;
}

.lupa:hover .circle_small{
    width: 50px;
    height: 50px;
    background-color: white;
}
