*{
    box-sizing: border-box;
}
.text-style{
    font-size: 20px;
    font-family: Century Gothic;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}
.menu1{
    background-color: #5175C0;
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 100px;
    margin: auto;
}
.button1{
    padding: 35px 0px 0px 0px;
}
.menu1:hover>a{
    color: #708ac2;
    transition: 0.3s;
}
.button1:hover{
    color: #fff !important;
    transition: 0.3s;
}
.menu2{
    background-color: #3fa46a;
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 100px;
    margin: auto;
}
.button2{
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    display: inline-block;
    margin:auto;
    padding: 31px 0px 31px 0px;
}
.button2:hover{
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transition: 0.3s;
    padding: 0px 0px 0px 0px;
}
.menu3{
    background-color: rgb(238,162,0);
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 100px;
    margin: auto;
}
.button3{
    display: inline-block;
    margin:auto;
    padding: 0px 10px 0px 10px;
}
.button3:hover{
    transition: 0.3s;
    padding: 38px 10px 38px 10px;
    color: rgb(238,162,0);
    background-color: #fff;
}
