h2{
    background-color: grey;
}
.red{
    color:red;
}
.orange{
    color: orange;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.blue{
    color:aquamarine;
}
.blue1{
    color: blue;
}
.purple{
    color: purple;
}
.green1{
    color:chartreuse;
}
